body {
  font-family: 'Lato', Sans-Serif;
  text-align: left;
}

header {
  display: flex;
  background-color: white;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 3px 3px 3px #EAEDED;
}

#logo {
  padding-left: 40px;
}

nav ul {
  list-style: none;
  padding-right: 40px;
}

nav li {
  display: inline-block;
  padding: 10px;
  margin: 7px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: gray;
}

.submenu .sub2 {
  display: none;
}

.submenu:hover .sub2 {
  display: block;
  position: absolute;
}


section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f2f2f2;
  text-align: justify;
  padding-top: 5em;
}

h1 {
  font-size: 40px;
  padding: 40px;
}

.fotos {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 10em;
}

#foto1 {
  margin-left: auto;
  margin-right: auto;
  width: 90%
}

#foto2 {
  margin-left: auto;
  margin-right: auto;
  width: 90%
}

.texto {
  width: 50%;
}

div h2 {
  font-size: 22px;
  font-weight: 100;
  padding-left: 40px;
}

div p {
  color: gray;
  font-weight: 100;
  padding-bottom: 50px;
  padding-left: 40px;
  padding-right: 20px;
  line-height: 25px;
}

footer {
  display: flex;
  background-color: #eed33e;
  flex-direction: row;
  justify-content: space-around;
}

footer p {
  color: black;
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
}

.esquerda-footer {
  display: flex;
  width: 50%;
}

.direita-footer {
  display: flex;
  width: 50%;
}